@model MGCreations.Models.user

@{
    ViewBag.Title = "Admin_Dashboard";
}

<h2>Admin_Dashboard</h2>

@Html.ActionLink("User List", "User_List")
@Html.ActionLink("View Categories", "Product_Category_List", "ProductCategory")
